:root {
    --side-panel-width: 320px;
}

.root {
    flex-shrink: 0;
    width: 0;
    height: 100%;
    box-shadow: var(--mantine-shadow-md);
    transition: 0.3s ease-in-out;
    overflow: hidden;
    background: var(--mantine-color-white);

    @mixin dark {
        background: var(--mantine-color-dark-6);
    }

    &.show {
        width: var(--side-panel-width);
        border-left: 1px solid var(--mantine-color-default-border);
    }

    &.overlay {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--side-panel-width);
}
