.root {
    position: relative;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    transform: translateZ(0);
}

.header {
    align-items: flex-end;
    padding: calc(var(--mantine-spacing-xs) * 0.5) var(--mantine-spacing-xs);
}

.body {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.footer {
    padding: var(--mantine-spacing-xs);
}