.root {
    position: relative;
    flex-direction: column;
}

.header {
    align-items: flex-end;
    padding: calc(var(--mantine-spacing-xs) * 0.5) 0;
    position: sticky;
    top: 0;
    z-index: 4;
    background: var(--mantine-color-body);
}

.body {
    position: relative;
}
