.root {
    position: relative;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header {
    align-items: center;
    transition: 0.3s ease-in-out;
    padding-inline: var(--mantine-spacing-xs);
    padding-top: env(safe-area-inset-top);
    height: calc(env(safe-area-inset-top) + 40px);

    :global(.rm-window--is-app-clip) & {
        padding-top: 0;
        height: 40px;
    }
}

.header h1 {
    font-size: var(--mantine-font-size-xl);
}

