.root {
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header {
    align-items: center;
    transition: 0.3s ease-in-out;
    height: 40px;
    padding: 0 var(--mantine-spacing-xs);
}

.header h1 {
    font-size: var(--mantine-font-size-xl);
}

